.legend-item-color{
    min-width: 15px;
    min-height: 15px;
    border-radius: 100rem;
}

.legend {
    display: flex;
    justify-content: center;
    align-items: center;
}
.legend-title {
    padding-right: .75rem;
    white-space: nowrap;
}

.green-bg{
background-color: green;
}

.red-bg{
    background-color: red;
    }